<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view ng-controller="ChatDetailCtrl as chatdetailctrl" view-title="{{chatdetailctrl.chat.name}}">
  <ion-content class="padding">
    <img ng-src="{{chatdetailctrl.chat.face}}" style="width: 64px; height: 64px">
    <p>
      {{chatdetailctrl.chat.lastText}}
    </p>
  </ion-content>
</ion-view>
