<ion-view view-title="Tinder" ng-controller="TinderCtrl as tinderctrl">
  <ion-content scroll="false" ng-init="tinderctrl.init()">
    <td-cards>
      <div class="card-item no-cards" ng-if="tinderctrl.cards.length===0">
        <div class="list card">
          <div class="item item-body">
            <p class="text-center">There is no one new around you.<br>Use Passport to choose a new location.</p>
          </div>
        </div>
      </div>
      <div ng-repeat="card in tinderctrl.cards">
        <div class="card-item">
          <td-card
          on-destroy="tinderctrl.cardDestroyed($index)"
          on-swipe-left="tinderctrl.cardSwipedLeft($index)"
          on-swipe-right="tinderctrl.cardSwipedRight($index)"
          on-touch="tinderctrl.onTouch();"
          on-release="tinderctrl.onRelease()"
          class="card-{{$index}}" ng-click="tinderctrl.openCardModal(card)">
            <div class="list card">
              <div class="item item-body">
                <div class="image">
                  <div class="no-text">NOPE</div>
                  <img ng-src="{{card.url}}" alt="">
                  <div class="yes-text">VOTE</div>
                </div>
                <p>{{card.id}}</p>
              </div>
            </div>
          </td-card>
          <div class="row bottom-row">
            <div class="col">
              <button class="button button-large btn-no" on-tap="tinderctrl.cardTapNo($index)"><i class="icon ion-close-round"></i></button>
            </div>
            <div class="col">
              <button class="button button-large btn-yes" on-tap="tinderctrl.cardTapYes($index)"><i class="icon ion-thumbsup"></i></button>
            </div>
          </div>
        </div>
      </div>
    </td-cards>
  </ion-content>
</ion-view>
