<tab-slide-box tab="0">
  <div class="tsb-icons">
    <div class="tsb-ic-wrp">
      <a href="javascript:;" class="ion-home"></a>
      <a href="javascript:;" class="ion-email"></a>
      <a href="javascript:;" class="ion-email"></a>
      <a href="javascript:;" class="ion-person"></a>
    </div>
  </div>
  <ion-slide-box show-paper="false" on-slide-changed="slideHasChanged($index)">
    <ion-slide>
      <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-slide>
    <ion-slide>
      <ion-nav-view name="tab-tinder"></ion-nav-view>
    </ion-slide>
    <ion-slide>
      <ion-scrill delegate-handle="slide1Scroll">
        <ion-nav-view name="tab-chats"></ion-nav-view>
      </ion-scrill>
    </ion-slide>
    <ion-slide>
      <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-slide>
  </ion-slide-box>
</tab-slide-box>
