<tab-slide-box tab="2">
  <div class="tsb-icons">
    <div class="tsb-ic-wrp">
      <a href="javascript:;" class="ion-person"></a>
      <a href="javascript:;" class="ion-fireball"></a>
      <a href="javascript:;" class="ion-heart"></a>
    </div>
  </div>
  <ion-slide-box show-paper="false" on-slide-changed="slideHasChanged($index)">
    <ion-slide>
      <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-slide>
    <ion-slide>
      <ion-nav-view name="tab-tinder"></ion-nav-view>
    </ion-slide>
    <ion-slide>
      <ion-nav-view name="tab-liked-list"></ion-nav-view>
    </ion-slide>
  </ion-slide-box>
</tab-slide-box>
