td-cards {
  display: block;
}

td-card {
  position: absolute;
  left: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 5%;
  width: 90%;
  height: 22rem;

  .td-card, .card, .item {
    position: relative;
    height: 100%;
  }

  .image {
    width: 100%;
  }

  img {
    max-width: 100%;
  }

  .card-footer {
    position: relative;
    bottom: 0;
  }
}

.yes-text {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  color: rgb(111, 250, 111);
  opacity: 0;
}
.no-text {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: rgb(255, 115, 115);
  opacity: 0;
}

.fade {
  -webkit-transition: 0.2s opacity linear;
  transition: 0.2s opacity linear;
  opacity: 0;
}

.bottom-row {
  position: absolute;
  top: 26rem;
}
